{% extends "admin/base.html" %}
{% load url from future %}
{% load static from staticfiles %}
{% block content %}
<h1>{{ model.meta.verbose_name_plural }} – oversikt</h1>
<section class="panel panel-default">
    <table class="table">
        <colgroup>
            <col span="1" style="width: 50px; font-weight: bold;">
            <col span="1">
            <col span="1">
            <col span="1" style="width: 60px;">
            <col span="1" style="width: 140px;">
        </colgroup>
        <thead>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Url</th>
                <th>Endret</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in image_categories %}
                <tr>
                    <td>#{{ category.pk }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.slug }}</td>
                    <td>{{ category.updated|date:"d/m/y" }}</td>
                    <td>
                        <a class="btn btn-rounded btn-sm btn-icon btn-default" title="Endre" href="{{ category.get_update_url }}">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-rounded btn-sm btn-icon btn-default" title="Slett" href="{{ category.get_delete_url }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<a class="btn btn-success" href="{{ model.get_create_url }}">Opprett ny kategori</a>
{% endblock content %}
