{% extends "admin/base.html" %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% load url from future %}
{% block css_extra %}
{% endblock css_extra %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.slugit.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery.debounce-1.0.5.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'admin/js/libs/jquery/jquery-ui-1.10.0.custom.min.js' %}" charset="utf-8"></script>
{% endblock extra_js %}
{% block content %}
    <style>
    .placeholder {
        width: 148px;
        height: 148px;
        background-color: #fff;
        border: 4px dotted #ccc;
        margin: 5px;
        box-sizing: border-box;
    }
    .portfolioimage {
        border: 4px solid #FFFEFE;
        margin: 5px;
    }
    .portfolioimage.selected {
        border: 4px solid #FF5555;
    }
    #sortable,
    #imagepool {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: relative;
    }
    #sortable li,
    #imagepool li {
        float: left;
        font-size: 4em;
        text-align: center;
    }
    .marked-hidden {
        opacity: 0.3;
    }
    </style>
    <h1>{{ image_series.project_set.first.title }} - Endre bildeserie</h1>
    {% crispy form %}

    <hr>
    <p>Dra bildene i rekkefølgen du vil de skal vises. Dobbeltklikk for å sette tittel/info. Utgråede bilder vises ikke i oversikten, men kun i serie.</p>
    <hr>

    <div class="clearfix">
        <ul id="sortable">
        {% for image in image_series.related_images.all %}
        <li id="image-{{ image.pk }}" data-id="{{ image.pk }}">
            <img class="portfolioimage{% if image.hidden_in_index %} marked-hidden{% endif %}" src="{{ image.url_t }}" data-id="{{ image.pk }}" data-title="{{ image.title|default_if_none:"" }}" data-credits="{{ image.credits|default_if_none:"" }}" />
        </li>
        {% endfor %}
        </ul>
    </div>

<!-- edit img info -->

    <div id="edit-image" class="well clearfix" style="margin-top: 15px; display:none;">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <h4>Endre bildeinformasjon</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2" style="text-align: center;">
                <img src="" />
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="image_title">Tittel:</label>
                    <input class="form-control" type="text" id="image_title" name="image_title" />
                </div>
                <div class="form-group">
                    <label for="image_credits">Info:</label>
                    <input class="form-control" type="text" id="image_credits" name="image_credits" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <hr>
                <button class="btn btn-default" id="store-info">Lagre info</button>
            </div>
        </div>

    </div>

<!-- /edit img info -->

    <div style="margin-top: 10px;">
        <button class="btn btn-primary" id="store-order"><i class="fa fa-save m-r-xs"> </i> Lagre rekkefølge</button>
        <a class="btn btn-primary" role="button" href="{% url 'admin:projects:series-addimages' image_series_id=image_series.pk %}"><i class="fa fa-save m-r-xs"> </i> Last opp bilder</a>
        <button class="btn disabled" id="hide-images">Skjul/vis bilder i oversikten</button>
        <button class="btn disabled" id="delete-images">Slett valgte bilder</button>
    </div>
    <script>
        $(function() {
            $('#id_name').slugIt({
                output: '#id_slug',
                map: { 'æ': 'ae', 'ø': 'oe', 'å': 'aa' },
                space: '-'
            });
            $("#sortable").sortable({
                containment: "parent",
                scroll: true,
                placeholder: "placeholder",
                change: function( event, ui ) {
                    $("#store-order").removeClass('btn-success').addClass('btn-warning');
                }
            });
            $("#sortable").disableSelection();
            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });

            function checkButtons() {
                if ($('.selected').length) {
                    $('#hide-images')
                        .removeClass('disabled')
                        .addClass('btn-default');
                    $('#show-images')
                        .removeClass('disabled')
                        .addClass('btn-default');
                    $('#delete-images')
                        .addClass('btn-danger')
                        .removeClass('disabled');
                } else {
                    $('#show-images')
                        .addClass('disabled')
                        .removeClass('btn-default');
                    $('#hide-images')
                        .addClass('disabled')
                        .removeClass('btn-default');
                    $('#delete-images')
                        .addClass('disabled')
                        .removeClass('btn-danger');
                }
            }

            $(document).on("click", ".portfolioimage", function(e) {
                $(this).toggleClass('selected');
                checkButtons();
            });

            $(document).on("dblclick", ".portfolioimage", function(e) {
                $('#edit-image').slideDown();
                $('#edit-image img').attr('src', $(this).attr('src'));
                $('#store-info').attr('data-id', $(this).attr('data-id'));
                $('#image_title').val($(this).attr('data-title'));
                $('#image_credits').val($(this).attr('data-credits'));
            });

            $(document).on("click", "#hide-images", function (e) {
                var ids = $('.selected').map(function(){
                    return $(this).attr('data-id');
                }).toArray().join(',');

                $.ajax({
                    type: 'POST',
                    url: 'toggle-hidden/',
                    data: 'ids=' + ids,
                    success: function(data) {
                        if (data.status == 200) {
                            console.log(data);
                            var idArray = data.ids;
                            $.each(idArray, function(index, value) {
                                $('li[data-id='+value+'] img').toggleClass('marked-hidden');
                                $('li[data-id='+value+'] img').removeClass('selected');
                            });
                        }
                        else {
                            alert(data.error_msg);
                        }
                    },
                    dataType: 'json'
                });

                e.preventDefault();
                $('.selected').each(function() {

                });
            });

            $(document).on("click", "#show-images", function (e) {
                $('.selected').each(function() {
                    $(this).removeClass('marked-hidden');
                    $(this).removeClass('selected');
                });
            });

            $(document).on("click", "#delete-images", function (e) {
                if (!confirm('Er du sikker på at du vil slette disse bildene?')) {
                    e.preventDefault();
                    return false;
                }

                var ids = $('.selected').map(function(){
                    return $(this).attr('data-id');
                }).toArray().join(',');

                $.ajax({
                    type: 'POST',
                    url: 'slett-mange/',
                    data: 'ids=' + ids,
                    success: function(data) {
                        if (data.status == 200) {
                            console.log(data);
                            var idArray = data.ids;
                            $.each(idArray, function(index, value) {
                                $('li[data-id='+value+']').fadeOut(900, function () {
                                    $(this).remove();
                                });
                            });
                            $('li[data-id='+data.id+']').fadeOut(900, function () {
                                $(this).remove();
                            });
                        }
                        else {
                            alert(data.error_msg);
                        }
                    },
                    dataType: 'json'
                });

                e.preventDefault();

            });


            $("#store-order").click(function() {
                that = this;
                $(this).button('loading');
                ids = $("#sortable").sortable('toArray', {attribute: 'data-id'});
                $.ajax({
                    type: 'POST',
                    url: 'sorter/',
                    data: 'ids=' + ids.join(','),
                    success: function(data) {
                        if (data.status == 200) {
                            console.log(data);
                            $(that).button('reset');
                            $(that).removeClass('btn-warning').addClass('btn-success');
                        }
                        else {
                            alert(data.error_msg);
                        }
                    },
                    dataType: 'json'
                });
                event.preventDefault();
            });

            $("#store-info").click(function() {
                that = this;
                $(this).button('loading');
                f_id = $(this).attr('data-id');
                $.ajax({
                    type: 'POST',
                    url: 'attrs/',
                    data: {
                        id: f_id,
                        title: $('#image_title').val(),
                        credits: $('#image_credits').val()
                    },
                    success: function(data) {
                        if (data.status == 200) {
                            console.log(data);
                            $(that).button('reset');
                            $(that).addClass('btn-success');
                            $('img[data-id='+$(that).attr('data-id')+']')
                                .attr('data-title', data.title)
                                .attr('data-credits', data.credits);

                            $('#edit-image').slideUp();
                        }
                        else {
                            alert(data.error_msg);
                        }
                    },
                    dataType: 'json'
                });
                event.preventDefault();
            });
        });
    </script>

{% endblock content %}